body{
    font-family: sans-serif;
    padding: 10px;
}

:root {
    --btn: #dbdbdb;
    --btn-hover: #cacaca;
    --item-bg: #f0f0f0;
    --modal-bg: rgba(141, 141, 141, 0.541);
  }

.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header > button{
    background-color: var(--btn);
    padding : 10px 15px;
    border-radius: 40px;
    margin-bottom: 40px;
    cursor: pointer;

}

.header > button:hover{
    background-color: var(--btn-hover);
}

.employees{
    display: flex;
}

.employees > div {
    border:1px solid black;
    height: 500px;
    overflow-y: scroll;
    flex-direction: column;
}

.employees_single{
    width:50%;
}

.employees_name{
    width:30%;
}

.employees_name-title,
.employees_single-title{
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.employee_name--list{
    display: flex;
    flex-direction: column;
}

.employee_name--item{
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: 5px;
  text-align: center;
  background-color: var(--item-bg);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
    
}

.employee_name--item:hover,
.selected{
    background-color: var(--btn);
}

.employee_name--line{
    font-weight: bold;
    align-items: center;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}

.employees_single--list >img{
 padding-top: 35px;
 padding-bottom: 10px;
 width: 200px;
 height: 200px;
 object-fit: contain;
 gap: 10px;
}

.employees_single--list{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.addEmployee{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: var(--modal-bg);
    justify-content: center;
    align-items: center;
}

.addEmployee--create{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap:15px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 50px grey;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}

.addEmployee--create >div{
 display: grid;
 grid-template-columns: 48.1% 48.1%;
 column-gap: 15px;
}

.addEmployee--create input{
 padding: 10px;
 border-radius: 2px;
 border: 1px solid rgb(236, 236, 236);

}

.addEmployee--create input::-webkit-outer-spin-button,
.addEmployee--create input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.addSumbit {
    padding: 10px !important;
    border: none;
    background-color: var(--btn);
    cursor: pointer;
    padding: 7px;
}

.addSumbit:hover{
   background-color: var(--btn-hover);
}